{{#if currentUser.can_see_topic_group_button}}

<div class="hover_bkgr_fricc" id="myForm">
  <span class="helper"></span>

  <div>
    <h1>Topic-Organizer</h1>
    <form autocomplete="off">

      <div class="autocomplete" style="width:300px;">
        {{input id="myInput" type='text' value=input_text name="myCountry" placeholder="Search for topics.." key-press=(action "autocomplete") }}
      </div>

      <button id="addt" type="submit" {{action "addtopic"}}>Add</button>
      <input type="hidden" id="flag" value="false">

      <div class="pre_post_switch">
        <input type="radio" name="toggle" id="pre" checked onclick={{action "checkIfSequencerValidForPre"}}>Pre
        <input type="radio" name="toggle" id="post" onclick={{action "checkIfSequencerValidForPost"}}>Post
        <hr><br>
      </div>

      <div align="center"><b>Sequence on?</b>
        <input id="sequencer_checkbox" type="checkbox" checked={{isChecked}} onclick={{action "checkIfSequencerValid" value="target.checked"}} />
      </div>

    </form>

    <p><b>Pre</b></p>
    <div id="prereq-list" align="left" padding="100px"></div>
    <br><br>
    <p><b>Post</b></p>
    <div id="postreq-list" align="left" padding="100px"></div>
    <br><br>

    <button type="submit" class="btn submit" {{ action "createTopicRecord" }}>OK</button>
    <!--  <button type="button" class="btn clear" {{action "clearall"}}>Clear All</button> -->
    <button type="button" class="btn cancel" {{action "closeForm"}}>Close</button>
    
  </div>

</div>
<div id="snackbar">Successfully added!</div>

{{/if}}
